.category-section {
    text-align: center;
    // margin-top: 13rem;
    padding: 4rem 0;
    margin-bottom: 3rem;
    background: #f8f8f8;

    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: #333;
    }

    .bar {
        // border: 1px solid red;
        height: 3px;
        width: 10%;
        background-color: #c8102e;
        display: inline-block;
        margin: 18px auto 0;
    }




    .category-container {
        max-width: 1300px;
        margin: auto;
        padding: 1rem;
        position: relative;

        // margin-top: 3rem;
        // background: #f8f8f8;

        >div {
            margin-top: 2rem;
            border: 1px solid #595959;

            .slick-slide {
                display: flex;
                justify-content: center;
                // padding: 30px;

            }

            .category-card {
                // border: 1px solid #595959;
                // border-radius: 10px;
                overflow: hidden;
                // transition: transform 0.3s ease-in-out;
                // background: #f9f9f9;
                // padding: 15px;
                // box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
                text-align: center;

                // &:hover {
                //     transform: scale(1.05);
                // }

                .category-img {
                    border: 1px solid #acacac;
                    width: 254px;
                    height: 382px;
                    object-fit: cover;
                    // border-radius: 10px;
                }

                .category-name {
                    // margin-top: 10px;
                    // font-size: 1.2rem;
                    // font-weight: 600;
                    color: #444;
                    text-transform: capitalize;
                }
            }
        }


    }

    // Arrow Styling
    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // background: rgba(0, 0, 0, 0.5);
        color: #7a6868;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        z-index: 10;
        transition: background 0.3s ease-in-out;

        &:hover {
            background: #c8102e;
            color: white;
        }
    }

    .next {
        right: -30px;
    }

    .prev {
        left: -25px;
    }
}