// @use "mixin" as *;
@use "Header" as *;
@use "Banner" as *;
@use "NewArrivalProduct" as *;
@use "Category" as *;
@use "FirstBanner" as *;
@use "Footer" as *;







* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibre, Verlag, Helvetica, sans-serif;
}