// @use "mixin" as *;
@use "Header" as *;
@use "Banner" as *;
@use "NewArrivalProduct" as *;
@use "Category" as *;
@use "FirstBanner" as *;
@use "Products" as *;
@use "ProductDetails" as *;
@use "Footer" as *;







* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibre, Verlag, Helvetica, sans-serif;
}


::-webkit-scrollbar-thumb {
    background-image: linear-gradient(40deg, #c8102e, #e28a87);
    border-radius: 2ex;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

 body {
  cursor: url("../assets/cursor.png"), auto;
} 